* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: fantasy;
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.action-btns {
    padding-top: 2em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


p {
    display: inline;
}

h5 {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

#storeBtn {
    margin-top: 1em;
    
}